$defaut-y-gutter: 0.5rem;
$defaut-x-gutter: 1rem;

$base-button-y-padding: 1rem;
$base-button-x-padding: 2rem;

$default-transition-duration: 200ms;

$base-button-block-selector: '.base-button';

$font-roboto: 'Roboto';
